@model Placer.Application.DTO.ErrorResults.ResultDTO

@{
    Layout = "_Layout";
}

<!DOCTYPE html>
<html>
<head>
    <title>Error Messages</title>
</head>
<body>
@if (@Model.ErrorsDTO.Count <= 0)
{
    <h2>Success !</h2>
    <ul>
        @foreach (var success in Model.SuccessDTO)
        {
            <li>@success.Message</li>
        }
    </ul>
}
else
{
    <h2>Oops...</h2>
    <ul>
        @foreach (var error in Model.ErrorsDTO)
        {
            <li>@error.Message</li>
        }
    </ul>
}
 <partial name="_ReturnPartial"/>
</body>
</html>